# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcworkspace
*.xccheckout
*.xcscmblueprint
.DS_Store

# Swift Package Manager
.build/
Package.resolved
